/*----------------- Expense Card CSS Start ---------------- */

.imageCont {
  display: flex;
  justify-content: center;
}

.cardImage {
  width: 40px;
  height: 40px;
  top: 368px;
  left: 411px;
  margin-bottom: 1rem;
}

.cardAmount {
  font-family: "regular";
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
  text-align: center;
}

.cardTitle {
  font-family: "Regular";
  font-size: 24px;
  font-weight: 300;
  line-height: 29.05px;
  text-align: center;
  margin-top: 1rem;
}

/*----------------- Expense Card CSS End ---------------- */

.tableTotalRow {
  height: 50px;
  top: 1222px;
  left: 293px;
  background: #0E7669;
  font-family: "regular";
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: end;
  color: white;
  padding-top: 0.5rem;
  padding-right: 10rem;
}
