/* Base styles (for desktops and tablets) */
.header {
    height: 80px;
    padding: 20px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameCont {
    display: flex;
    flex-direction: row;
    /* Ensure horizontal alignment */
    align-items: center;
}

.userName {
    font-family: "regular";
    font-size: 20px;
    font-weight: 400;
    color: #1E1E1E;
}

.userEmail {
    font-family: "regular";
    font-size: 15px;
    font-weight: 500;
    color: #9A9A9A;
    margin-left: 10px;
    /* Add some spacing if needed */
}

.companyName {
    font-family: "regular";
    font-size: 24px;
    font-weight: 600;
}

.logoutBtn {
    background-color: #316AFF;
    color: white;
    width: 120px;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
}

/* Tablet styles */
@media (max-width: 1024px) {
    .header {
        padding: 15px;
    }

    .nameCont {
        margin-right: auto;
    }

    .userEmail {
        font-size: 14px;
    }

    .companyName {
        font-size: 20px;
        margin-right: 4rem;
    }

    .logoutBtn {
        width: 120px;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .header {
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
    }

    .nameCont {
        flex-direction: row;
        margin-bottom: 10px;
    }

    .userEmail {
        font-size: 14px;
    }

    .companyName {
        font-size: 18px;
        text-align: center;
        width: 100%;
    }

    .logoutBtn {
        width: 100px;
        padding: 8px;
    }
}