.ledgerHead {
  font-family: "regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
}

.saveBtn {
  width: 100%;
  height: 47px;
  padding: 14px 58px 14px 58px;
  gap: 10px;
  border-radius: 35px;
  background: #316aff;
  color: white;
  font-family: "regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
}

.editBtn {
  width: 100%;
  height: 47px;
  padding: 14px 58px 14px 58px;
  gap: 10px;
  border-radius: 35px;
  border: 1px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  text-align: center;
  line-height: 18.75px;
}

.flexContainer {
  display: flex;
}

.expenseCardWrapper {
  flex: 1;
  margin-right: 20px;
}

.inflowWrapper {
  flex: 6;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  min-height: 100px;
}

.leftSection {
  font-family: "regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.leftContact {
  font-family: "regular";
  font-size: 20px;
  font-weight: 400;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightItem {
  width: Hug (62px) px;
  height: Hug (32px) px;
  padding: 6px 5px 6px 5px;
  gap: 7px;
  border-radius: 8px;
  border: 1px;
  margin-left: 20px;
  font-family: "regular";
  font-size: 16px;
  border: 1px solid #e3e3e3;
  padding: 10px;
  font-family: "regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: left;
  color: #9a9a9a;
}

.rightItemExp {
  width: 100px;
  height: auto;
  border-radius: 14px;
  border: 1px;
  background: #0e7669;
  font-family: "regular";
  font-size: 18px;
  font-weight: 700;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #ffffff;
}

.addText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableSection {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 30px 30px;
  padding: 20px;
}

.deleteButton {
  color: #ff4d4f;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.iconContainer {
  display: flex;
  justify-content: flex-start;
}

.editButton {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.ledgerDiv {
  width: 100px;
  height: 47px;
  padding: 14px;
  border-radius: 35px;
  color: #316aff;
  font-family: "regular";
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
}

@media print {
  .hide-on-print {
    display: none !important;
  }
}

.tabButton {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tabButton:hover {
  background-color: #eaeaea;
}

.activeTab {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}
