.ledgerHead {
    font-family: "regular";
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;

}

.saveBtn {
    width: 100%;
    height: 47px;
    padding: 14px 58px 14px 58px;
    gap: 10px;
    border-radius: 35px;
    border: 1px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    text-align: center;
    line-height: 18.75px;
}
.deleteButton {
    color: #ff4d4f;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.iconContainer {
  display: flex;
  justify-content: flex-end;
}

.editButton {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.ledgerDiv{
    width: 100px;
    height: 47px;
    padding: 14px;
    border-radius: 35px;
    color: #316AFF;
    font-family: "regular";
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
}

.tableTotalRow {
  height: 50px;
  top: 1222px;
  left: 293px;
  background: #0E7669;
  font-family: "regular";
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: end;
  color: white;
  padding-top: 0.5rem;
  padding-right: 10rem;
}