.paymentHeadingName {
    font-family: "regular";
    font-size: 15px;
    font-weight: 800;
    text-align: center; 
    margin-bottom: 1rem;

}

.addressComp {
    width: 100%;
    height: 22px;
    border-radius: 2px;
    background: #3D3D3D;
    font-family: "regular";
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentRecipet {
    font-family: "regular";
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: center;
    margin-top: 0.5rem;
}

.paymentCard {
    border: 1px;
    border: 1px solid #000000;
    padding: 10px;
}

.paymentHeading {
    font-family: "regular";
    font-size: 8px;
    font-weight: 500;
    line-height: 9.38px;
    text-align: left;
    color: #000000;
    margin-top: 0.5rem;
}

.trans {
    font-family: "regular";
    font-size: 10px;
    font-weight: 500;
    line-height: 11.72px;
    text-align: left;
    margin-top: 1rem;
}

/* Table Styles */
.tableSection {
    margin-top: 0.5rem;
    margin-left: -1rem;
}

.tableHeader,
.tableRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* Create 5 equal columns */
    align-items: center;
    justify-content: center;
    /* Center content horizontally */
    gap: -1rem;
    /* Optional: Adjust spacing between columns */
}

.tableHeader>div,
.tableRow>div {
    text-align: center;
    font-family: "regular";
    font-size: 8px;
    font-weight: 500;
    color: black;
}

.tableRowData>div {
    text-align: center;
    font-family: "regular";
    font-size: 14px;
    font-weight: 500;
    color: #8E8E93;
}


.generateBtn {
    background: #316AFF;
    width: auto;
    height: 45px;
    padding: 12px 15px;
    border-radius: 8px;
    font-family: "regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: black;
    margin-top: 1rem;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: white;
}


.paymentLogo {
    width: 35px;
    height: 35px;
}