.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.gridItem {
    width: 100%;
}


.container {
    padding: 20px;
    margin-top: 2rem;
}

.tabContainer {
    display: flex;
}

.tabButton {
    width: 120px;
    height: 50px;
    top: 1937px;
    left: -4546px;
    border-radius: 30px;
    background: #FEFEFE;
    font-family: "regular";
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    margin-right: 2rem;
}

.tabButton:hover {
    background-color: #ddd;
}

.tabButton.active {
    width: 120px;
    height: 50px;
    top: 1937px;
    left: -4208px;
    border-radius: 30px;
    background: #316AFF;
    color: white
}

.tabContent {
    padding: 20px;
    border-top: none;
}

.tabPaymentContainer {
    display: flex;
}

.tabPaymentButton {
    width: 120px;
    height: 50px;
    top: 1937px;
    left: -4546px;
    border-radius: 30px;
    background: #FEFEFE;
    font-family: "regular";
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    margin-right: 2rem;
    margin-top: 1rem;
}

.tabPaymentButton.active {
    width: 120px;
    height: 50px;
    top: 1937px;
    left: -4208px;
    border-radius: 30px;
    background: #316AFF;
    color: white
}

.tabPaymentContent {
    padding: 20px 0;
}

.bankHead {
    font-family: "regular";
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: #363EF2
}

.bankList {
    font-family: "regular";
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}

.tableHeader,
.tableRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
}


.tableRowData {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
}

.tableBody {
    max-height: 400px;
    overflow-y: auto;
}

.tableHeader>div,
.tableRow>div {
    padding: 12px;
    text-align: left;
    font-family: "regular";
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    color: #9A9A9A
}

.tableRowData>div {
    padding: 12px;
    text-align: left;
    font-family: "regular";
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    color: #8E8E93
}
.tableHeader,
.tableRowData {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
}

.saveBtn {
    width: 100%;
    height: 47px;
    padding: 14px 58px 14px 58px;
    gap: 10px;
    border-radius: 35px;
    background: #316AFF;
    color: white;
    font-family: "regular";
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
}

.ledgerHead {
    font-family: "regular";
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
}
.logocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
}