.payment {
  font-family: "regular";
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
  text-align: left;
  color: #0e7669;
  margin-bottom: 2rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 40px;
} 

.gridItem {
  width: 100%;
}

.container {
  padding: 20px;
  margin-top: 2rem;
}

.tabContainer {
  display: flex;
}
.tabPaymentButton {
  width: 30%;
  height: 60px;
  border-radius: 14px;
  border: 1px;
  background: #e4e4e466;
  margin-right: 10px;
  font-family: "regular";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #8c8c8c;
}

.tabPaymentButton.active {
  width: 30%;
  height: 60px;
  border-radius: 14px;
  border: 1px;
  background: #0e7669;
  font-family: "regular";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.bankHead {
  font-family: "regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  color: #363ef2;
}

.bankList {
  font-family: "regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
}

.btnCont {
  display: flex;
  justify-content: center;
}

.ledgerHead {
  font-family: "regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}

.logocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100%;
  height: auto;
}

.paymentInBtn {
  width: 50%;
  height: 50px;
  top: 1451px;
  left: 285.5px;
  border-radius: 14px;
  background: #0e7669;
  margin-top: 2rem;
  font-family: "regular";
  font-size: 20px;
  font-weight: 700;
  line-height: 43.57px;
  text-align: center;
  color: white;
}

.saveBtn {
  width: 100%;
  height: 47px;
  padding: 14px 58px;
  border-radius: 35px;
  background: #316aff;
  color: white;
  font-family: "regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
