.sideBarComp {
    width: 243px;
    height: 100vh;
    border-radius: 30px 30px;
    border: 1px;
    border-right: 1px solid #E3E3E3;
    transition: width 0.3s;
}

.sideBarItem {
    display: flex;
    align-items: center;
    width: auto;
    height: 45px;
    padding: 12px 15px;
    border-radius: 8px;
    background: white;
    font-family: "regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: black;
    margin-top: 1rem;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.sideBarItem:hover {
    background-color: #f0f0f0;
}

.sideBarItem.active {
    background: #316AFF;
    color: white;
}

.icon {
    margin-right: 10px;
    font-size: 20px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
}

.toggleButton {
    display: none;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
    background: #316AFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .sideBarComp {
        position: fixed;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        background-color: #fff;
        border-radius: 0;
        border-right: none;
        overflow-x: hidden;
        z-index: 2;
    }

    .sideBarComp.open {
        width: 243px;
    }

    .toggleButton {
        display: block;
    }

    .sideBarItem {
        justify-content: center;
    }

    .itemName {
        display: none;
    }

    .sideBarComp.open .itemName {
        display: inline;
    }

    .logo {
        width: 40px;
        height: auto;
        margin-top: 5rem;
    }
}