.sideBarComp {
    width: 243px;
    height: 100vh;
    border-radius: 30px 30px;
    border: 1px;
    border-right: 1px solid #E3E3E3;
}

.sideBarText {
    width: auto;
    height: 45px;
    padding: 12px 15px;
    border-radius: 8px;
    background: white;
    font-family: "regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: black;
    margin-top: 1rem;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.sideBarText:hover {
    background-color: #f0f0f0;
}

.sideBarText.active {
    background: #316AFF;
    color: white;
}

.imgContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    width: 100%; /* Ensure the container takes full width */
}

.logo {
    max-width: 100%; /* Ensure the image scales properly */
    height: auto; /* Maintain aspect ratio */
    margin-top: 2rem;
}